.answered {
  font-size: 1rem;
  border: 2px solid black;
  padding: 0.2rem;
  width: 2rem;
}

.disabled {
  font-size: 1rem;
  border: 2px solid black;
  padding: 0.2rem;
  width: 2rem;
  background-color: grey;
  border-color: grey;
  color: black;
  cursor: not-allowed;
}
