.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.container h1 {
  font-size: 3.5rem;
  color: #014f86;
  border-bottom: 3px solid #014f86;
}

.container h2 {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
}

.container h3 {
  font-size: 3.5rem;
  color: #014f86;
}
